body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  background-color: #fafafa;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: ;
  font-size: ;
  line-height: ;
  color: ;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-container {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
}
.logo-link {
  position: relative;
  /* bottom: 10px; */
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.logo-img {
}
.nav-list {
  position: absolute;
  right: 42%;

  display: flex;
  justify-content: center;
  gap: 31px;
  margin-top: 20px;
}
.nav-item {
  font-weight: 400;
  font-size: 18px;
}
.nav-menu-link {
}

.header-link-wrap {
  display: flex;
  margin-left: auto;
  padding-right: 24px;
  margin-top: 9px;
}

.header-btn-link {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  min-width: 150px;
  height: 43px;
  padding: 13px 11px 4px 11px;
}

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}
.hero-title {
}
.hero-text {
}
.hero-btn {
}
.hero-img {
}

/* ABOUT */

.about {
}

.about-img {
}
.about-title {
}
.about-text {
}
.about-btn-link {
}

/* SERVICES */

.services {
}

.services-title {
}
.services-text {
}
.services-list {
}
.services-item {
}
.services-img {
}
.services-subtitle {
}
.services-link {
}

/* SIGN */

.sign {
}

.sign-title {
}
.sign-text {
}
.sign-btn {
}
.sign-btn-link {
}

/* BLOGS */

.blogs {
}

.blogs-title {
}
.blogs-text {
}
.blogs-img {
}
.blogs-main {
}
.blogs-main-item {
}
.blogs-main-subtitle {
}
.blogs-main-text {
}
.blogs-main-link {
}
.blogs-list-one {
}
.blogs-item {
}
.blogs-subtitle {
}
.blogs-list-text {
}
.blogs-link {
}
.blogs-list-two {
}

/* FOOTER */

.footer {
}
.footer-container {
}
.footer-menu-one {
}
.footer-item {
}
.footer-link {
}
.logo-link {
}
.logo-img {
}
.footer-menu-two {
}
.footer-soc-list {
}
.soc-item {
}
.soc-link {
}
.soc-icon {
}
.footer-copyrights {
}
.footer-tm {
}
.privacy {
}
