body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  background-color: #fafafa;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-container {
  display: flex;
}

.header-nav {
  display: flex;
  flex-direction: row;
}
.logo-link {
  position: relative;
  /* bottom: 10px; */
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.logo-img {
}
.nav-list {
  position: absolute;
  right: 45%;

  display: flex;
  justify-content: center;
  gap: 31px;
  margin-top: 20px;
}
.nav-item {
  font-weight: 400;
  font-size: 18px;
}
.nav-menu-link {
}

.header-link-wrap {
  display: flex;
  margin-left: auto;
  padding-right: 24px;
  padding-top: 9px;
}

.header-btn-link {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  min-width: 150px;
  height: 43px;
  padding: 13px 11px 4px 11px;
}

/* HERO */

.hero {
  padding-top: 154px;
  padding-bottom: 135px;
  background-color: #f1f1f2;
  height: 700px;
}

.container-wrapper {
  width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.hero-container {
  display: flex;
  justify-content: center;
}

.hero-text-wrap {
  position: relative;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 37px;
  margin-left: 162px;
  margin-right: 126px;
  max-width: 433px;
}
.hero-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.40625;
  margin-bottom: 52px;
  margin-left: 162px;
  margin-right: 137px;
  max-width: 422px;
}
.hero-btn {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  min-width: 200px;
  height: 60px;
  background-color: #f7941e;
  margin-left: 162px;
  margin-right: 359px;
  color: #fff;
  border: none;
}

.hero-img {
  position: absolute;
  right: 14.8%;
  top: 9%;
  max-width: 100%;
}

/* ABOUT */

.about {
  padding-top: 164px;
  padding-bottom: 104px;
  height: 600px;
}

.work-container {
  display: flex;
}

.about-img {
  position: absolute;
  right: 50.9%;
  top: 64%;
  width: 733.15px;
  height: 598px;
}

.work-wrap {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.40625;
  margin-left: 112px;
  margin-right: 319px;
  margin-bottom: 23px;
}
.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.40625;
  text-align: justify;
  margin-left: 112px;
  margin-right: 166px;
  margin-bottom: 35px;
  max-width: 441px;
}
.about-btn-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.34766;
  text-transform: uppercase;
  text-align: center;
  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
  max-width: 200px;
  height: 60px;
  padding: 21px 37px 14px 37px;
  margin-left: 112px;
}

/* SERVICES */

.services {
  padding-top: 96px;
  padding-bottom: 144px;
  background-color: #fff;
}

.services-title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 22px;
}
.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35938;
  text-align: center;
  margin-bottom: 64px;
}

.services-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.services-item {
  width: calc(100% - 90px) / 4;
  background-color: #fafafa;
}

.services-item:first-child {
  background-color: #fff;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.05);
}

.services-img {
}

.services-wrap {
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.services-subtitle {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 73px;
}
.services-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
}

/* SIGN */

.sign-wrap {
  width: 970px;
}

.sign {
  padding-top: 81px;
  padding-bottom: 69px;
  background-color: #f7941e;
}

.sign-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-text-wrap {
}

.sign-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
}
.sign-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.40625;
}

.sign-btn-wrap {
  display: flex;
  gap: 16px;
}

.sign-btn {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  min-width: 200px;
  height: 50px;
  background-color: #231f20;
  color: #fff;
  border: none;
}
.sign-btn-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 200px;
  height: 50px;
  padding: 17px 16px 6px 17px;
}

/* BLOGS */

.blogs {
  padding-top: 88px;
  padding-bottom: 80px;
}

.blogs-title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 22px;
}
.blogs-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35938;
  text-align: center;
  margin-bottom: 71px;
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;
}

.blogs-img {
}
.blogs-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #231f20;
  width: 770px;
  height: 370px;
  padding-top: 63px;
  padding-bottom: 49px;
  padding-left: 78px;
}
.card-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.41;
  color: #fff;
  padding-bottom: 27px;
}
.card-subtitle {
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  max-width: 492px;
  padding-bottom: 60px;
}
.blogs-card-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.41;
  color: #fff;
}

.blogs-wrap {
  display: flex;
  justify-content: center;
}

.blogs-list {
  display: flex;
  gap: 30px;
}

.blogs-item:first-child {
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  width: 570px;
}

.blogs-item {
  width: calc((100% - 30px) / 2);
  padding: 48px;
}
.blogs-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.41;
  max-width: 474px;
  margin-bottom: 16px;
}
.blogs-list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.41;
  max-width: 474px;
  margin-bottom: 16px;
}
.blogs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.41;
}

/* FOOTER */

/* .footer-wrapper {
  
  margin: 0 auto;
} */

.footer {
  padding-top: 115px;
  padding-bottom: 35px;
  background-color: #fafafa;
}
/* .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-nav {
  display: flex;
}

.footer-menu-one {
  position: relative;
  right: 140%;

  display: flex;
  justify-content: flex-start;
  gap: 74px;
}
.footer-item {
}
.footer-link {
}
.footer-logo-link {
  position: absolute;
  left: 50%;
}
.footer-logo {
}
.footer-menu-two {
  position: absolute;
  right: 36.5%;
  display: flex;
  justify-content: center;
  gap: 74px;
} */

.footer-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 53px;
}

.footer-menu-one {
  display: flex;
  gap: 74px;
}

.footer-menu-two {
  display: flex;
  gap: 74px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  display: flex;
  gap: 24px;
}
.soc-link {
}
.soc-icon {
}
.footer-copyrights {
}
.footer-tm {
}
.privacy {
}
